{% extends "base.html" %} {% block content %}

<h2>welcome!</h2>

<p>
  I'm a computer engineering undergrad studying in Toronto. This is my personal
  site where I sometimes publish long form posts on topics I'm interested in, or
  short "logs" for information I want to remember.
</p>

<span>Find me on:</span>
<ul>
  <li>email: <a href="mailto:mail@4kb.net">mail@4kb.net</a></li>
  <li>github: <a href="https://github.com/kbujari">kbujari</a></li>
</ul>

<!--<h3>Recent Posts</h3>-->
<!---->
<!--{% set section = get_section(path="posts/_index.md") %}-->
<!---->
<!--<ul>-->
<!--  {% for page in section.pages | slice(end=4) %}-->
<!--    <li>-->
<!--    <span>[{{ page.date }}]</span>-->
<!--    <a href="{{ page.permalink | safe }}">{{ page.title }}</a>-->
<!--    </li>-->
<!--  {% endfor %}-->
<!--</ul>-->

<h3>Recent Logs</h3>

{% set section = get_section(path="log/_index.md") %}

<ul>
  {% for page in section.pages | slice(end=4) %}
    <li>
    <span>[{{ page.date }}]</span>
    <a href="{{ page.permalink | safe }}">{{ page.title }}</a>
    </li>
  {% endfor %}
</ul>


{% endblock content %}
